{% extends 'base.html' %}

{% block content %}

  <!-- Product Page -->
        <div class="container-fluid h-100">
                <span>Cliquez sur comparer pour trouver un ou des produits similaires.</span>
          <div class="row h-100 align-items-center justify-content-center text-center" style="margin-top:20em;">
            {% for product in products %}
              <div class="col-lg-4 col-md-4">
                    <h2>{{ product.product_name }}</h2>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            
                            {% if product.image_front_url %} 
                                <img src="{{ product.image_front_small_url }}"/>
                            {% else %}
                                <p>Pas d'image disponible.</p>
                            {% endif %}
                        </div>

                        <div class="col-lg-8 col-sm-12">
                            <h3>Caractérisques</h3>
                            <ul>
                                <li>
                                    Sel : {{ product.nutriments.salt }}
                                </li>
                                <li>
                                    Matière Grasse : {{ product.nutriments.fat }}
                                </li>
                                <li>
                                    Nutriscore : {{ product.nutrition_grades|upper }}
                                </li>
                            </ul>
                        </div>
                        <form action="/compare/" method="POST" style="margin:auto; margin-top:15px;">
                            {% csrf_token %}
                            <input name="product_id" type="hidden" value="{{ product.id }}"/>
                            <button class="btn btn-primary">COMPARER</button>
                        </form>
                        
                    </div>
              </div>
              {% endfor %}
          </div>
          

              
          </div>
            <!-- <div class="col-lg-10 align-self-end">
                   <h1>Le produit est : {{ product.product_name }}</h1> 
              <hr class="divider my-4">
            </div>
            
          </div>

        <div class="row" style="background-color:beige">
            <div class="col-lg-10">

                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h3>Images</h3>
                        {% if product.image_front_url %} 
                        <img src="{{ product.image_front_url }}"/>
                        {% else %}
                            <p>Pas d'image disponible.</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        <h3>Caractérisques</h3>
                        <ul>
                            <li>
                                Sel : {{ product.nutriments.salt }}
                            </li>
                            <li>
                                Matière Grasse : {{ product.nutriments.fat }}
                            </li>
                            <li>
                                Nutriscore : {{ product.nutrition_grades|upper }}
                            </li>
                        </ul>
                    </div>
                </div> 
            </div> -->
        </div>
    
{% endblock %}